#include <iostream>
#include <cstdlib>
#include <sstream>
#include <stdlib.h>
#include "unistd.h"
#include <string> 

using namespace std;

int main()
    {
    	 	  string str = "shutdown -s -t "; //Const olarak çevrilecek string değişkenini tanımla, komut ekranında kapatma işlemi için.
              int shutdowntime=0, isCancel=0; // Kullanıcıdan kapatma zamanı al / Kullanıcı kapatma işlemini iptal etmek isterse değer girmesi için değişken tanımla
              bool itsokay=false; // Bool tipinde değişken tanımla, girilen değer uygunsa true değerini döndür if yapısına dallan, girilen değer uygun değilse false değerini döndür ve tekrar sayı almaya dallan
              tekrar: 
              	shutdowntime = 0; // değerleri sıfırla
              	isCancel=0; // değerleri sıfırla
			  cout<< "kac saniye sonra kapatilsin?"<<endl; //<< yazdır
              cin>>shutdowntime; // veriyi al
              
			  if(shutdowntime>0 && shutdowntime<=60) // alınan veri uygunsa
			  itsokay = true; // bool değerini true yap
             
			  else //değilse
			  {
			  	itsokay=false; // bool değerini false yap
                cout<<"Girilen sayi 0 ve 60 arasinda olmalidir"<<endl; // << yazdır
                goto tekrar; // tekrar noktasına dallan
				}
				
				if(itsokay == true){ // bool değeri true ise
					str = "shutdown -s -t "; // önceki verileri temizle
					stringstream ss; 
					ss << shutdowntime; // int verisini string tipindeki değişkene aktar
					//cout<<endl<<ss.str(); - bu kısımın yorum satırı kaldırılırsa, değişkenin veri kontrolü yapılabilir -
					
					str = str + ss.str();	// int (kullanıcıdan alınan zaman değeri verisini) içerisindeki verileri string içerisindeki veri ile birleştir (shutdown -s -t XX)
					 const char *command = str.c_str(); // str değişkenini consta çevir
					cout<<"Sistem " << shutdowntime << " saniye icerisinde kapatilacak!" << endl; // << yazdır
                    sleep(1); // bir saniye bekle
                   //cout<<endl<<command; - bu kısımın yorum satırı kaldırılırsa, sisteme gönderilecek verinin kontrolü konsol üzerinde yapılabilir -
				   system(command); // sisteme command içerisindeki veriyi gönder
				   }
				else{ // herhangi bir problem çıkarsa
				
				cout<<"bugwashere"; // <<yazdır
				goto tekrar; // tekrar noktasına dallan
               }
               
                cout<<endl<<"iptal etmek icin 1 tusuna basiniz"<<endl; // << yazdır
				   cin>>isCancel; // veriyi al
				   if(isCancel == 1) // eğer kullanıcı 1 verisini döndürürse
				   {
				   	system("shutdown /a"); // tırnak içerisindeki veriyi sisteme göndererek kapatmayı iptal et
				   	cout<<"Kapatma islemi iptal edildi"<<endl; // << yazdır
				   	goto tekrar; // tekrar noktasına dallan
				   }
				   else{ // isCancel 1 harici bir değer alırsa
				   	cout<<"kapatiliyor..."; // << yazdır
				   }
                   return 0;
    }
 
